.App {
  background-color: rgb(33, 50, 26);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(230, 158, 142);
  margin: 10px;
}

.score {
  position: fixed;
  margin-bottom: 600px; 
}

.start-btn {
  background-color: rgb(255, 236, 47);
  border: rgb(255, 236, 47) solid 5px;
  border-radius: 15px;
  color: rgb(33, 50, 26);
  font-weight: 600;
  padding: 15px;
}

.start-btn:hover {
  border: rgb(255, 252, 251) solid 5px;
}

button {
  cursor: pointer;
  outline: none;
}

.question {
  margin: 20px;
  text-align: center;
}

.choices-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.choices {
  margin: 15px;
  height: 150px;
  width: 300px;
  font-size: 20px;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1.5s;
  background-color: rgb(255, 252, 251);
  border: rgb(255, 252, 251) solid 5px;
}

.choices:hover {
  border: rgb(255, 236, 47) solid 5px;
  font-size: 30px;
  font-weight: 600;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
